extends ./layout/index

block slider
    .slider
        h1 Río de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar metus et tortor tincidunt, eu tincidunt velit commodo. Curabitur quis diam facilisis, hendrerit augue rhoncus, fermentum enim. Proin ut accumsan turpis. Maecenas bibendum arcu in nisi fermentum interdum.
                p Nulla nulla ante, vestibulum a pulvinar ac, malesuada et nisl. Quisque ornare nisi nec turpis congue rhoncus. Pellentesque sed accumsan diam, nec blandit dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum pharetra massa et lacinia porta. In purus magna, laoreet quis tempus a, vestibulum ut ipsum. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes
    
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD
    
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
